node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
playwright-report
test-results
.lighthouseci

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# AI
.github/*
!.github/workflows/
AGENTS.md
.claude
CLAUDE.md